.taniti-logo {
    display: inline-block;
    color: white !important;
}

.main-nav .navbar-brand {
    font-size: 2.25rem !important; 
    color: white !important;

}

nav.navbar {
    font-size:1.5rem;
    padding:0rem 1rem;
    background-color:#247494 !important;
    opacity: .9;
    /* margin-top: 24px; */
}

.utility-bar {
    background-color: #ebebeb
}

.navbar-light .navbar-nav .nav-link {
    margin: 1rem 2rem;
    color: white !important;
  }

  .utility-bar a {
    cursor: grab;
    color: #ec008c !important;
  }

  .navbar-light .navbar-nav .nav-link:hover,
   .utility-bar a:hover,
   .main-nav .navbar-brand:hover {
    text-decoration: underline #69F2E2;
    cursor: pointer;
  }

  .underlined {
    text-decoration: underline;
  }