.taniti-logo {
    display: inline-block;
}

.main-nav {
    font-size:1.5rem;
    background-position-y: 41%;
}

.main-nav .navbar-brand {
    font-size: 3.25rem !important; 
}

nav.navbar {
    padding:0rem 1rem;
}

.utility-bar {
    background-color: #ebebeb
}

.navbar-light .navbar-nav .nav-link {
    margin: 1rem 2rem;
    color: #000643 !important;
  }

  .utility-bar a {
    cursor: grab;
      color: #ec008c !important;
  }

  .navbar-light .navbar-nav .nav-link:hover,
   .utility-bar a:hover,
   .main-nav .navbar-brand:hover {
    text-decoration: underline #ec008c;
    cursor: pointer;
  }