
.mainImageContainer {
  position: relative;
  text-align: center;
  max-height: 610px;
  overflow: hidden;
  max-width: auto;
  
}

.centered {
  position: absolute;
  font-size: 3rem;
  top: 21%;
  left: 69%;
  transform: translate(-50%, -50%);
}
  
.mainImage {
  width: 100%;
  max-height: 540px;
  object-fit: cover;
  overflow: hidden;
}

.main-image-subtitle {
  position: absolute;
  font-style: italic;
  font-size: 1.5rem;
  top: 28%;
  left: 69%;
  transform: translate(-50%, -50%);
}

.flip {
  transform: scaleX(-1);
}