.btn-group .btn-secondary,.btn-group .btn-secondary:hover  {
    background-color: #17AAB5;
    opacity: .9
}

.btn-group .btn-secondary.active {
    background-color: #247494 !important;
    opacity: 1;
}